
.section {
  height: 100vh;
}
.first{
  background-image: url("images/background1.svg");
  background-size: cover;
  resize: both;
}
#message {
word-wrap: normal;
text-align: left;
}
@media (max-width: 600px) {
  .first{
    background-size: auto;
    resize: both;
  }
  .section {
    width: 100vh;
  }
}
h1 {
  font-size: 30rem; !important
}
